
@media screen and (min-width:220px) and (max-width:650px) {
    .table-income{
        width: 100% !important;
        overflow: scroll !important;
    }
    td,th{
        font-size: 13px !important;
    }
    .pg-no{
        width:100% !important;
        position: sticky !important;
    }
    .menu-web{
        width: 0px !important;
        display: none !important;
    }
    .search-bar{
        width: 190px !important;
        margin-left: 50px !important;
    }
    .main-heading-mob{
        margin-top: 40px !important;
    }
    .table-income{
        margin-top: -10px !important;
    }
    .piechart,.barchart{        
        padding-bottom: 60%; 
        position: relative !important;
      }
      .piechart{
        margin-top: 100px !important;
        margin-left: -90px !important;
      }
   
}
.barchart ,.piechart{
    width: 100%;
    height: 0;
    position: relative;
  }
  
  .recharts-responsive-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
@media screen and (min-width:651px) {
    .menu-phone{
        width: 0px !important;
        display: none !important;
    }
}

body{
    overflow-x: hidden !important;
}