@media screen and (min-width:640px) {
    .bottom-menu{
        width: 0px !important;
        height: 0px !important;
        display: none !important;
    }
    .bottom-menu div{
        width: 0px !important;
        height: 0px !important;
        display:none !important;
    }
    .mobile-nav{
        width: 0px !important;
        height: 0px !important;
        display: none !important;
    }
    .text-hello a{
        color:#fff !important;
    }
    
    .text-by a{
        color:grey !important;
    }
    
    .text-hello a .text-white{
        color: #fff  !important;
    }
    
    .text-by a .text-white{
        color: grey !important;
    }
    

}

.text-hello a{
    color:#000;
}
.text-by a{
    color:grey;
}

.text-hello a .text-white{
    color: #000 ;
}


.text-by a .text-white{
    color: grey;
}


body{
    background: #fff !important;
}