@media screen and (min-width:640px) {
    .bottom-menu{
        width: 0px !important;
        height: 0px !important;
    }
    .bottom-menu div{
        width: 0px !important;
        height: 0px !important;
    }
    .mobile-nav{
        width: 0px !important;
        height: 0px !important;
    }
}

.bottom-menu div{
    border-top-left-radius: 20% !important;
    border-top-right-radius:20% !important ;
    margin-top: 1px !important;
}


.text-hello a{
    color:#fff !important;
}

.text-by a{
    color:grey !important;
}

.text-hello a .text-white{
    color: #fff !important;
}

.text-by a .text-white{
    color: grey !important;
}