@tailwind base;
@tailwind components;
@tailwind utilities; 

body {
  margin: 0;
  font-family:'Rubik' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.loading {
  margin-left: 37vw !important;
  margin-top: 10vw !important;
  height: 70px !important;
  width: 70px !important;
}
